<!-- <script defer>
    document.addEventListener("DOMContentLoaded", function() {
        const logo = document.getElementById('theme-logo');
        if (localStorage.getItem("pref-theme") === "dark") {        
            logo.srcset= "{{ site.Params.label.dark_themed_icon | absURL }}";
            logo.alt = "dark-themed-logo";   
            
        } else if (localStorage.getItem("pref-theme") === "light") {
            logo.srcset = "{{ site.Params.label.light_themed_icon | absURL }}";
            logo.alt = "light-themed-logo";          
        } 
    });

    function toggleTheme() {    
        const logo = document.getElementById('theme-logo');
        const spanElement = document.querySelector('#navbarTogglerIcon');        

        if (localStorage.getItem("pref-theme") === "dark") {        
            logo.srcset = "{{ site.Params.label.light_themed_icon | absURL }}";
            logo.alt = "light-themed-logo";    
            
        } else if (localStorage.getItem("pref-theme") === "light") {        
            logo.srcset= "{{ site.Params.label.dark_themed_icon | absURL }}";
            logo.alt = "dark-themed-logo";   

        } 
    }
  </script> -->
{{- /* theme-toggle is enabled */}}
{{- if (not site.Params.disableThemeToggle) }}

{{- /* theme is light */}}
{{- if (eq site.Params.defaultTheme "light") }}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    }

</script>

{{- /* theme is dark */}}
{{- else if (eq site.Params.defaultTheme "dark") }}
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }

</script>
{{- else }}
{{- /* theme is auto */}}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}
{{- /* theme-toggle is disabled and theme is auto */}}
{{- else if (and (ne site.Params.defaultTheme "light") (ne site.Params.defaultTheme "dark"))}}
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}

<header class="header">
    <nav class="navbar">
        <!-- <div class="container-fluid"> -->

            {{ partial "logo.html" }}      
        
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>         
            
            Commented for ignoring Bootstrap's hamburger button
            --> 
                                        
        <!-- </div> -->

        
        
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        Commented for ignoring Bootstrap's hamburger button -->

        {{- $currentPage := . }}    
    
        <ul class="list-inline mx-5">                               
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
            <li class="list-inline-item mx-2">
                <a class="nav-link active" aria-current="page" href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                    {{- if (findRE "://" .URL) }}&nbsp;
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {{- end }}
                </a>                
            </li>            
            {{- end }}           
        </ul>
            
    <!-- </div> 
    
    Commented for ignoring Bootstrap's hamburger button
    -->
    
    </nav>

</header>


