{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <!-- <img src="/img/Balaji.png" class="img-thumbnail" width="200" height="200" alt="..."> -->

    <!-- <header class="entry-header"> --> <!-- Commented-->
    <header class="h1">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <!-- <div class="lead"> -->
    <div class="entry-content fs-5">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
